
@{
    ViewBag.Title = "AddData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddData</h2>

<body>
    <h2>Registration Form</h2>
    <div class="form-group"></div>
    <label> First Name</label>
    <input type="text" required="required"  class="form-control"/>

    <label class="form-group"> First Name</label>
    <input type="text" required="required" class="form-control"/>

    <label class="form-group"> Last Name</label>
    <input type="text" required="required" class="form-control"/>

    <label class="form-group"> Gender</label>
    <input type="text" required="required" class="form-control"/>

    <label class="form-group"> Salary</label>
    <input type="text" required="required"class="form-control" />
</body>
